doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")/
        meta(http-equiv="X-UA-Compatible", content="ie=edge")/
        meta(name="viewport", content="width=device-width, initial-scale=1.0")/
        meta(name="author", content="Bruno Carvalho Feitosa")/
        meta(name="description", content="Landing page de lançamento do filme - O Coringa")/
        meta(name="keywords", content="Landing page, lançamento, filme, O Coringa")/
        link(rel="stylesheet", type="text/css" href="css/index.css")/
        link(rel="icon", type="image/png", href="/assets/icon-fav.png")/
        title Joker Trailer
    body

        header.b-header
            div.b-header__brand
                a(href="/")
                    img(src="../../assets/icon-brand.png")/